<wbdv-navigation></wbdv-navigation>
<div class="container">
    <div class="row main">
        <div class="page-header">
            <div class="text-center">
                <h1 class="large-text serif"><b>Find a Job</b></h1>
                <small>Hear from 100s of companies hiring on JobNow!</small>
            </div>
        </div>

        <!--<div>
            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Company Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bank fa" aria-hidden="true"></i></span>
                        <input ng-model="company.name" type="text" class="form-control" name="name" id="name"  placeholder="Enter your Company name"/>
                    </div>
                </div>
            </div>-->

            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                <div class="cols-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input ng-model="candidate.email" type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input ng-model="candidate.password" type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password2" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input ng-model="candidate.password2" type="password" class="form-control" name="password" id="password2"  placeholder="Confirm your Password"/>
                    </div>
                </div>
            </div>

            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>

            <div>
                <a ng-click="model.register(candidate)" class="btn btn-primary btn-block wbdv-button-reg-margin">Register</a>
            </div>

            <div class="pull-right">
                <small><div>Already have an account? <a href="#/candidate/login">Log In >></a></div></small>
            </div>
        </div>
    </div>
</div>