<wbdv-navigation></wbdv-navigation>
<div class="container">
    <h3 class="text-center">Candidates</h3><br/>
    <div class="row" ng-repeat="candidate in model.candidates">
        <div class="pull-left col-xs-8">
            <div ng-show="candidate.firstName">
                <img class="col-xs-2" ng-src="{{candidate.photoURI}}" height="70" width="70" class="img-thumbnail pull-left" alt="{{candidate.firstName}}">
                <div class="col-xs-6 pull-left">
                    <h4 >
                        <a href="#/admin/candidate/{{candidate._id}}"><div>{{candidate.firstName}} {{candidate.lastName}}</div></a>
                    </h4>
                    <h5>
                        <div>{{candidate.education}}</div>
                    </h5>
                    <h5>
                        <a ng-show="candidate.resumeURI" href="{{candidate.resumeURI}}" target="_blank">
                            <span>{{candidate.resumeName}}</span>
                        </a>
                    </h5>
                </div>
            </div>
        </div>

        <a class="btn btn-success pull-right wbdv-margin col-xs-1"
           href="#/admin/candidate/{{candidate._id}}">Edit</a>
        <br/><br/><br/><br/>

    </div>
</div>