<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><b>JobNow!</b></a>
        </div>

        <div class="collapse navbar-collapse wbdv-right-navbar" id="nav-bar-1">
            <ul class="nav navbar-nav navbar-right">
                <!--<li ng-show="model.user.firstName"><a href="#/company/profile">{{angular.copy(model.user.firstName)}}</a></li>
                <li ng-hide="model.user.firstName"><a href="#/company/profile">{{angular.copy(model.user.email)}}</a></li>-->
                <li><a href="#/company/profile">{{model.companyName}}</a></li>
                <li><a href="#/company/logout">Logout</a></li>
                <!--<li><a class="btn" ng-click="model.logout()">Logout</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>