<wbdv-navigation></wbdv-navigation>
<div class="container">
    <form name="companyLogin" novalidate>
        <div class="row main">
            <div class="page-header">
                <div class="text-center">
                    <h1 class="large-text serif"><b>Recruiter Log In</b></h1>
                </div>
            </div>

            <div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input required ng-model="model.user.email" type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                        </div>
                        <div class="error small-text" ng-if="companyLogin.$submitted && companyLogin.email.$error.required">* Email is a required field</div>
                        <div class="error small-text" ng-if="companyLogin.$submitted && companyLogin.email.$error.email">* Valid email is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input required ng-model="model.user.password" type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                        </div>
                        <div class="error small-text" ng-if="companyLogin.$submitted && companyLogin.password.$error.required">* Password is a required field</div>
                    </div>
                </div>


                <div ng-show="model.error" class="alert alert-danger" role="alert">
                    {{model.error}}
                </div>

                <div>
                    <button type="submit" ng-click="companyLogin.$valid && model.login(model.user)" class="btn btn-primary btn-block wbdv-button-reg-margin">Login</button>
                    <!--<a ng-click="model.test()" class="btn btn-primary btn-block">Test</a>-->
                </div>

                <div class="pull-right">
                    <small><div>Need an account? <a href="#/company/register">Sign up >></a></div></small>
                </div>

            </div>
        </div>
    </form>
</div>

