<wbdv-navigation></wbdv-navigation>

<div class="container">
    <center>
        <h3 class="text-center">Filter the Companies</h3>
        <div class="input-group wbdv-margin col-sm-6">
            <input ng-model="model.searchTerm" type="text" class="form-control" placeholder="Filter companies">
            <span class="input-group-btn">
            <a ng-click="" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
        </div>
    </center><hr/>

    <h3 class="text-center">Companies</h3><br/>
    <div class="row" ng-repeat="company in model.companys | search:model.searchTerm">
        <div class="pull-left col-xs-8">
            <div ng-show="company.name">
                <img class="col-xs-2" ng-src="{{company.photoURI}}" height="70" width="70" class="img-thumbnail pull-left" alt="{{company.name}}">
                <div class="col-xs-6 pull-left">
                    <h4 >
                        <a href="#/admin/company/{{company._id}}"><div>{{company.name}}</div></a>
                    </h4>
                    <div class="text-muted">
                        <div ng-show="company.size"><i class="fa fa-users" aria-hidden="true"></i> {{company.size}} Employees</div>
                        <div>
                            <a  ng-show="company.twitterURL" href="{{company.twitterURL}}" target="_blank"><i class="fa text-muted fa-twitter fa-lg" aria-hidden="true"></i></a>
                            <a  ng-show="company.facebookURL" href="{{company.facebookURL}}" target="_blank"><i class="fa text-muted fa-facebook fa-lg" aria-hidden="true"></i></a>
                            <a  ng-show="company.linkedinURL" href="{{company.linkedinURL}}" target="_blank"><i class="fa text-muted fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                            <a  ng-show="company.siteURL" href="{{company.siteURL}}" target="_blank"><i class="fa text-muted fa-info-circle fa-lg" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-success pull-right wbdv-margin col-xs-1"
           href="#/admin/company/{{company._id}}">Edit</a>
        <br/><br/><br/><br/>

    </div>
</div>