<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="st.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-brand">Choose Widget</div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a href="ading.html">Header</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a href="st.html">Label</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a href="st.html">HTML</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a href="st.html">Tech Input</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a href="st.html">Link</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a href="st.html">Button</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a href="age.html">Image</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a href="utube.html">YouTube</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a href="st.html">Data Table</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a href="st.html">Repeater</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../user/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
