<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-brand">Choose Widget</div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a ng-click="model.create('heading')">Header</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a ng-click="model.create('html')">HTML</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a ng-click="model.create('image')">Image</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11 navbar-brand">
            <a ng-click="model.create('youtube')">YouTube</a>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
