<div ng-if="widget.formatted" ng-model="widget.text" text-angular
     ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['html']]"></div>
<input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
       placeholder="{{widget.placeholder}}" class="form-control" value="{{widget.text}}" readonly/>
<textarea ng-if="!widget.formatted && (widget.rows > 1)"
          rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
          class="form-control" readonly>{{widget.text}}</textarea>