<div class="container-fluid">
    <label for="name">Name</label>
    <input ng-model="model.widget.name"
           id="name"
           class="form-control"
           placeholder="Widget Name"/>

    <label>HTML</label>
    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['html']]">
    </div>

    <a ng-click="model.deleteWidget(model.widget)" class="btn btn-danger btn-block">Delete</a>
</div>


