<div class="container-fluid">
    <label for="name">Name</label>
    <input ng-model="model.widget.name"
           id="name"
           class="form-control"
           placeholder="Widget Name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text"
           id="text"
           class="form-control"
           placeholder="Widget Title"/>

    <label for="url">URL</label>
    <input ng-model="model.widget.url"
           id="url"
           type="URL"
           class="form-control"
           placeholder="Youtube URL"/>

    <label for="width">Width</label>
    <input ng-model="model.widget.width"
           id="width"
           class="form-control"
           placeholder="Width in percent"
           value="100%"
           min="0" max="100"/>

    <a ng-click="model.deleteWidget(model.widget)" class="btn btn-danger btn-block">Delete</a>
</div>