<wbdv-navigation></wbdv-navigation>

<div class="container">
    <div class="row main container">
        <div class="center-block">
            <div class="text-center">
                <a href="#/company/dashboard/{{model.job.company._id}}">
                    <img src="images/drawbridge.png" class="img-thumbnail" alt="{{model.job.company.name}}">
                </a>
                <h1 class="">{{model.job.title}} at {{model.job.company.name}}</h1>
                <div>
                    <span ng-show="model.job.location" class="text-muted">{{model.job.location}} <b class="wbdv-small-margin">&#x2027;</b></span>
                    <span ng-show="model.job.jobType" class="text-muted">{{model.job.jobType}} <b class="wbdv-small-margin">&#x2027;</b></span>
                    <span ng-show="model.job.salary" class="text-muted">{{model.job.salary}}</span>

                </div>
            </div><br/>
            <div class="text-muted" ng-show="model.job.company.description">{{model.job.company.description}}</div>

        </div>
        <hr/>

        <div>
            <h3>Job Description</h3><br/>

            <div class="wbdv-show-format text-muted">{{model.job.description}}</div><br/>
            <a class="btn btn-success btn-lg" href="#/company/job/{{model.job._id}}">Edit Job</a>
            <a class="btn btn-primary btn-lg" href="#/company/dashboard">Dashboard</a>
        </div>
        <hr/>
        <div>
            <h3>Applications</h3><br/>
            {{model.applications}}
        </div>
    </div>
</div>