<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-brand">Pages</div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-right">
                <a ng-click="model.update(model.page)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>

            <div class="navbar-brand col-xs-10">Edit Page</div>
        </div>
    </div>
</nav>

<div class="alert alert-success" ng-show="model.jobs">
    {{model.jobs}}
</div>


<a ng-click="model.testDelete()" class="btn btn-primary btn-block">Test delete</a>
<a ng-click="model.testUpdate()" class="btn btn-primary btn-block">Test update</a>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
