<wbdv-navigation></wbdv-navigation>

<div class="container">
    <div class="row main container">
        <div class="center-block">
            <div class="text-center">
                <a href="#/company/dashboard/{{model.job.company._id}}">
                    <img ng-src="{{model.job.company.photoURI}}" height="200" width="200" class="img-thumbnail" alt="{{model.job.company.name}}">
                </a>
                <h1 class="">{{model.job.title}} at {{model.job.company.name}}</h1>
                <div>
                    <span ng-show="model.job.location" class="text-muted">{{model.job.location}} <b class="wbdv-small-margin">&#x2027;</b></span>
                    <span ng-show="model.job.jobType" class="text-muted">{{model.job.jobType}} <b class="wbdv-small-margin">&#x2027;</b></span>
                    <span ng-show="model.job.salary" class="text-muted">{{model.job.salary}}</span>

                </div>
            </div><br/>
            <div class="text-muted" ng-show="model.job.company.description">{{model.job.company.description}}</div>

        </div>
        <hr/>

        <div>
            <h3>Job Description</h3><br/>

            <div class="wbdv-show-format text-muted">{{model.job.description}}</div><br/>
            <a class="btn btn-success btn-lg" href="#/company/job/{{model.job._id}}">Edit Job</a>
            <a class="btn btn-primary btn-lg" href="#/company/dashboard">Dashboard</a>
        </div>
        <hr/>
        <div>
            <h3>Applications</h3><br/>
            <div class="row" ng-repeat="application in model.applications">
                <div class="pull-left col-xs-8">
                    <div ng-show="application.applicant.firstName">
                        <img class="col-xs-2" ng-src="{{application.applicant.photoURI}}" height="70" width="70" class="img-thumbnail pull-left" alt="{{application.applicant.firstName}}">
                        <div class="col-xs-6 pull-left">
                            <h4 >
                                <div>{{application.applicant.firstName}} {{application.applicant.lastName}}</div>
                            </h4>
                            <h5>
                                <div>{{application.applicant.education}}</div>
                            </h5>
                            <h5>
                                <a ng-show="application.applicant.resumeURI" href="{{application.applicant.resumeURI}}" target="_blank">
                                    <span>{{application.applicant.resumeName}}</span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <a ng-show="application.applicant.email" class="btn btn-success pull-right wbdv-margin col-xs-2"
                   href="mailto:{{application.applicant.email}}" target="_blank">Contact</a><br/><br/><br/><br/>

            </div>
        </div>
    </div>
</div>