<wbdv-navigation></wbdv-navigation>
<div class="container">
    <div class="row main">
        <div class="page-header">
            <div class="text-center">
                <h1 class="large-text serif"><b>Edit the Job</b></h1>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="title" class="cols-sm-2 control-label">Job Title</label>
                <div class="cols-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-briefcase fa" aria-hidden="true"></i></span>
                        <input ng-model="model.job.title" type="text" class="form-control" name="title" id="title"  placeholder="Enter the Job Title"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="cols-sm-2 control-label">Job Description</label>
                <div class="cols-sm-10">
                    <textarea ng-model="model.job.description" class="form-control" name="description" id="description" rows="6" placeholder="Enter some info about the Job"/></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="location" class="cols-sm-2 control-label">Job Location</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></span>
                        <input ng-model="model.job.location" class="form-control" name="location" id="location"  placeholder="Enter the Job Location"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="jobType" class="cols-sm-2 control-label">Job Type</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></span>
                        <input ng-model="model.job.jobType" class="form-control" name="jobType" id="jobType"  placeholder="Enter the Job type: Full-Time, Part-Time, Internship"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="salary" class="cols-sm-2 control-label">Compensation</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                        <input ng-model="model.job.salary" class="form-control" name="salary" id="salary"  placeholder="Enter Compensation information"/>
                    </div>
                </div>
            </div>

            <!---->

            <div class="alert alert-danger" ng-show="model.error">
                {{model.error}}
            </div>

            <div class="alert alert-success" ng-show="model.message">
                {{model.message}}
            </div>

            <div>
                <a ng-click="model.update(model.job)" class="btn btn-primary btn-block wbdv-button-reg-margin">Save</a>
            </div>
            <div>
                <a ng-click="model.deleteJob()" class="btn btn-danger btn-block wbdv-button-reg-margin">Delete</a>
            </div>

        </div>
    </div>
</div>
